<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Excel Cheat Sheet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src= "https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="min-h-screen min-w-screen flex flex-col">
    <header class="grid align-middle h-20 bg-orange-200 ">
      <h1 class="text-2xl ml-20 self-center font-bold text-left">
        Excel Cheat Sheet
      </h1>
    </header>
    <div class="flex-1 bg-green-200">
      <div class="flex flex-row">
        <div class="basis-2/12">
        </div>
        <div class="basis-8/12 mt-8 flex flex-col">
          <input class="input h-12 flex-1 rounded-lg text-3xl px-4 py-2" type="searchbar" name="q"
                                                                                          placeholder="Search..." autofocus=true
          hx-get="/search"
          hx-target="#db-items"
          hx-trigger="keyup changed delay:500ms">

          <table>
            <thead>
              <tr>
                <th>Function</th>
                <th>Description</th>
                <th>Syntax</th>
                <th>Tag</th>
              </tr>
            </thead>
            <tbody id="db-items">
              {{ range . }}

              <tr>
                <td>{{ .Function }}</td>
                <td>{{ .Desc }}</td>
                <td>{{ .Syntax }}</td>
                <td>{{ .Tag }}</td>
              </tr>

              {{ end }}
            </tbody>
          </table>
        </div>
        <div class="basis-2/12">
        </div>
      </div>
    </div>
  </body>
</html>
